/.idea
/CCPD-sub-01/base-3144/
/CCPD-sub-01/blur-1272/
/CCPD-sub-01/db-1176/
/CCPD-sub-01/fn-1288/
/CCPD-sub-01/green-3112/
/CCPD-sub-01/rotate-2120/
/CCPD-sub-01/weather-1304/
/CCPD-sub-01/Plate-recognition/
/CCPD-sub-01/Plate-detection/Plate-detection.zip
/CCPD-sub-01/Plate-detection/weather-1304/
/CCPD-sub-01/Plate-detection/rotate-2120/
/CCPD-sub-01/Plate-detection/green-3112/
/CCPD-sub-01/Plate-detection/fn-1288/
/CCPD-sub-01/Plate-detection/db-1176/
/CCPD-sub-01/Plate-detection/blur-1272/
/CCPD-sub-01/Plate-detection/base-3144/
/CCPD-sub-01/
